@model CMS.Entity.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/@Model.Image" width="500">
    <div class="card-body" style="background-color:#dee2e6">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Title</p>
        <div style="display:flex;">
            <a class="icon icon-xs icon-darker icon-style-brand fa fa-linkedin" href="@Model.Linkedln" target="_blank"></a>
        </div>
    </div>
</div>

<div style="margin-top:20px;">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
